*{
    background-color: black;
}

body{
    text-align: center;
    margin-top: 280px;
}

h1{
    color: rgb(187, 132, 238);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 60px;
}

h2{
    color: rgb(187, 132, 238);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 40px;
}

p{
    color: rgb(155, 85, 221);
    font-size: 25px;
    text-decoration: underline;
}

ul{
    margin-top: 1px;
    padding-left: 0px;
    color: rgb(155, 85, 221);
    font-size: 20px;
}

li{
    border: double, rgb(215, 185, 243);
    margin-left: 590px;
    margin-right: 590px;
    padding-top: 0px;
}